<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <header>
            <h1>Мой сайт</h1>
        </header>
        <main>
            <div>
                <div>
                    <form method="post">
                        <fieldset>
                            <legend>Авторизация</legend>
                                <p>
                                    <label>Email:</label>
                                    <input/>
                                </p>
                                <p>
                                    <label>Пароль:</label>
                                    <input/>
                                </p>
                                <p>
                                    <input type="submit" name="submit" value="Вход" class="button button--full" />
                                </p>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div>
                <p>
                    <a href="">Регистрация</a>
                </p>
                <p>
                    <a href="">Забыл пароль?</a>
                </p>
            </div>
            <div>
                Последние обновление: 1970-01-01 03:00:00<br/>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
