<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Мой сайт</title>
    </head>
    <body>
    <header>
        <h1>Регистрация на сайте</h1>
    </header>
    <main container>
        <p>
            Регистрируясь на сайте, вы принимаете все <a href="">правила и законы сайта</a><br/>
            Незнание законов сайта не освобождает вас от ответственности!<br/>
        </p>
        <form method="post">
        <fieldset>
            <legend>Регистрация</legend>
                <p class="_pxs">
                    <label>Email:</label>
                    <input/>
                </p>
                <p class="_pxs">
                    <label>Пароль:</label>
                    <input/>
                </p>
                <p class="_pxs">
                    <label>Имя персонажа:</label>
                    <input/>
                </p>
                <p class="_pxs">
                    <label>Пол:</label>
                    <select>
                        <option>парень</option>
                        <option>девушка</option>
                    </select>
                </p>
                <p class="_pxs">
                    <input/>
                </p>
        </fieldset>
        </form>
        <p>
            Все поля обязательны для заполнения!<br/>
            Будьте внимательны к вводу вашего email, указывайте ваш реальный, действующий email!<br/>
            В случае если вы забудете пароль на него вам будет отправлен новый.<br/>
            Email в будущем сменить нельзя!
        </p>
    </main>
    <footer>
        <ul>
            <li>
                <a href="\index.html">Вход на сайт</a>
            </li>
        </ul>
    </footer>
    </body>
</html>